<link rel="stylesheet" href="css/adminDetail.css" />
<link rel="stylesheet" href="css/custom.css" />
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/axios.js"></script>
<script>
	$(document).ready(function () {
		$("#mytable #checkall").click(function () {
			if ($("#mytable #checkall").is(':checked')) {
				$("#mytable input[type=checkbox]").each(function () {
					$(this).prop("checked", true);
				});
			} else {
				$("#mytable input[type=checkbox]").each(function () {
					$(this).prop("checked", false);
				});
			}
		});
		$("[data-toggle=tooltip]").tooltip();
	});
</script>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col col-xs-6">
					<h1>Bảng thông tin sách</h1>
					<a href="./createNew">
						<button type="submit" class="btn btn-md btn-primary btn-create">
							Thêm sách mới
						</button>
					</a>
				</div>
				<div class = "col col-xs-6">
					<h1>Filter theo loại sách</h1>
					<div id = "dropdown-category-filter">
						<button onclick="toogleHideAndShowDropDown()" class= "btn btn-md btn-primary btn-create">
							Tất cả
						</button>
						<div id = "filter-dropdown" class = "drop-down-content">
							{{#each categories}}
							<form action="/bookslist/" method="GET">
								<input type="submit" value = "{{name}}"/>
								<input type="hidden" name="categoryID" value="{{_id}}"/>
							</form>
							
							{{/each}}

						</div>

					</div>
				</div>
			</div>
			<br />
			<div class="table-responsive">
				<table id="mytable" class="table table-bordred table-striped ">
					<thead>
						<th><input type="checkbox" id="checkall" /></th>
						<th>STT</th>
						<th>Hình</th>
						<th>Tên</th>
						<th>Giá</th>
						<th>Tác giả</th>
						<th>Nhà xuất bản</th>
						<th>Xem</th>
						<th>Sửa</th>
						<th>Xóa</th>
					</thead>
					<tbody>
						{{#each books}}
							<tr id="{{_id}}">
								<td><input type="checkbox" class="checkthis" /></td>
								<td>{{@index}}</td>
								<td><img class="book-image" src="images/booksImage/{{image_link}}" /> </td>
								<td>
									<div class="book-info">
										{{title}}
									</div>
								</td>
								<td>
									<div class="book-info">{{basePrice}} VND</div>
								</td>
								<td>
									<div class="book-info">{{author}}</div>
								</td>
								<td>
									<div class="book-info">{{publisher}}</div>
								</td>
								<td>
									<p data-placement="top" data-toggle="tooltip" title="Delete">
										<a href="./{{_id}}">
											<button class="btn btn-success btn-xs" data-title="See" data-toggle="modal">
												<i class="fas fa-eye"></i>
											</button>
										</a>
									</p>
								</td>
								<td>
									<p data-placement="top" data-toggle="tooltip" title="Edit">
										<a href="/bookslist/edit/{{_id}}">
											<button id="{{_id}}-edit" class="btn btn-primary btn-xs" data-title="Edit"
												data-toggle="modal" data-target="#edit">
												<span class="glyphicon glyphicon-pencil"></span>
											</button>
										</a>
									</p>
								</td>
								<td>
									<p data-placement="top" data-toggle="tooltip" title="Delete">
										<button id="{{_id}}-del" onclick="delBook(this.id)"
											class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal">
											<i class="far fa-trash-alt"></i>
									</p>
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
				<div class="clearfix"></div>
				<ul class="pagination pull-right">
					<li class="disabled"><a href="#"><i class="fas fa-backward"></i></span></a></li>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#"><i class="fas fa-forward"></i></span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<script src="js/dropdownFilter.js"></script>

</div>