<link rel="stylesheet" href="css/custom.css" />
<link rel="stylesheet" href="css/searchBox.css" <link
	href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- Include the above in your HEAD tag -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src=js/axios.js></script>
<script src="js/paging.js"></script>
<script src="js/helper.js"></script>
<script src="js/dropdownFilter.js"></script>
<div style="height: 100vh;" class="container">
	<div class="row" style="margin: 20px 0px;">
		<div class="col col-xs-3">
			<h1>Bảng thông tin sách</h1>
			<a href="./createNew">
				<button type="submit" class="btn btn-md btn-primary btn-create">
					Thêm sách mới
				</button>
			</a>
		</div>
		<div class="col col-xs-3">
			<h1>Filter theo loại sách</h1>
			<div class="dropdown">
				<button class="btn btn-md btn-primary btn-create dropdown-toggle" type="button" id="dropdownMenuButton"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{currentCategory}}
				</button>
				<p id="category_id" style="display: none;">{{currentCategoryId}}</p>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					{{#each categories}}
						<form action="/bookslist" method="GET">
							<input class="category-input" type="submit" value="{{name}}" />
							<input type="hidden" name="categoryID" value="{{_id}}" />
						</form>
					{{/each}}
					<form action="/bookslist/" method="GET">
						<input class="category-input" type="submit" value="Tất cả sách" />
						<input type="hidden" name="categoryID" value="all" />
					</form>
				</div>
			</div>
		</div>
		<div class="col col-xs-6">
			<form id="searchForm" class="search" action=/bookslist/search />
			<div class="search__wrapper">
				<input id="searchText" required value="{{bookName}}" type="text" name="bookName"
					placeholder="Search book here" class="search__field">
				<button type="submit" class="fa fa-search search__icon"></button>
			</div>
			</form>
		</div>
	</div>
	<div class="row" id="info">Đang tải...</div>
	<div class="row">
		<div class="table-responsive">
			<table id="mytable" class="table table-bordred table-striped ">
				<thead>
					<th><input type="checkbox" id="checkall" /></th>
					<th>STT</th>
					<th>Hình</th>
					<th>Tên</th>
					<th>Giá</th>
					<th>Tác giả</th>
					<th>Nhà xuất bản</th>
					<th>Xem</th>
					<th>Sửa</th>
					<th>Thay đổi trạng thái</th>
					<th>Trạng thái</th>
				</thead>
				<tbody id="book-list">
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="button-bar row">
			<div class="button-bar">
				<nav aria-label="Page navigation example">
					<ul id="btn-list" class="pagination">
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<script id="products" type="text/x-handlebars-template">
	\{{#each this}}
		<tr >
			<td><input type="checkbox" class="checkthis" /></td>
			<td>\{{@index}}</td>
			<td><img class="book-image" src="\{{image_link}}" /> </td>
			<td>
				<div class="book-info">
					<p>\{{title}}</p>
				</div>
			</td>
			<td>
				<div class="book-info"><p>\{{basePrice}} VND</p></div>
			</td>
			<td>
				<div class="book-info"><p>\{{author}}</p></div>
			</td>
			<td>
				<div class="book-info"><p>\{{publisher}}</p></div>
			</td>
			<td>
				<p data-placement="top" data-toggle="tooltip" title="Xem">
					<a href="./\{{_id}}">
						<button class="btn btn-success btn-xs" data-title="See" data-toggle="modal">
							<i class="fas fa-eye"></i>
						</button>
					</a>
				</p>
			</td>
			<td>
				<p data-placement="top" data-toggle="tooltip" title="Sửa">
					<a href="/bookslist/edit/\{{_id}}">
						<button id="\{{_id}}-edit" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
							data-target="#edit">
							<i class="far fa-edit"></i>
						</button>
					</a>
				</p>
			</td>
			<td>
				<p data-placement="top" data-toggle="tooltip" title="Đổi trạng thái">
					<button id="\{{_id}}-del" onclick="delBook(this.id)" class="btn btn-danger btn-xs" data-title="Delete"
						data-toggle="modal">
						<i class="fas fa-exchange-alt"></i>
				</p>
			</td>
			<td id="\{{_id}}">
				\{{#if is_deleted}}
				    <p>Đã xóa</p>
				   \{{else}}
					<p>Tồn tại</p>
				\{{/if}}
			</td>
		</tr>
	\{{/each}}
	</script>
<script id="paging-hbs" type="text/x-handlebars-template">
		<li id="prevBtn" class="page-item" >
			<a   class="page-link " onclick="prevBtnClick()" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Previous</span>
			</a>
		</li>
		\{{#each this}}
			<li id="page-\{{num}}" onclick="setPage(this.textContent)" class="page-item"><a class="page-link">\{{num}}</a></li>
		\{{/each}}
		<li id="nextBtn" class="page-item">
			<a  class="page-link" onclick="nextBtnClick()" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">Next</span>
			</a>
		</li>
	</script>
</div>