<link rel="stylesheet" href="css/custom.css" />
<link rel="stylesheet" href="css/searchBox.css" />
<link real="stylesheet" href="css/bookDetailInfo.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- Include the above in your HEAD tag -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/orders.js"></script>
<script src="js/helper.js"></script>
<div class="shop-box-inner">
<div  class="container">
	<div class="row" style="margin: 20px 0px;">
		<div class="col col-xs-3">
			<h1>Bảng danh sách đơn hàng</h1>
		</div>
		<h1>Filter theo tình trạng đơn hàng</h1>
		<div class="col col-xs-3">
			
			<div class="dropdown">
				<button class="btn btn-md btn-primary btn-create dropdown-toggle" type="button" id="dropdownMenuButton"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Lựa chọn
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<button class="category-button btn btn-md btm-primary btn-create" type="button" 
					onclick="selectionChanged('Tất cả')"					
					aria-haspopup="true">Tất cả</button>
					<button class="category-button btn btn-md btm-primary btn-create" type="button" 
					onclick="selectionChanged('Chờ giao hàng')"
					aria-haspopup="true">Chờ giao hàng</button>
					<button class="category-button btn btn-md btm-primary btn-create" type="button" 
					onclick="selectionChanged('Đang giao hàng')"
					aria-haspopup="true">Đang giao hàng</button>
					<button class="category-button btn btn-md btm-primary btn-create" type="button" 
					onclick="selectionChanged('Đã giao hàng')"
					aria-haspopup="true">Đã giao hàng</button>
					<button class="category-button btn btn-md btm-primary btn-create" type="button" 
					onclick="selectionChanged('Đã hủy')"
					aria-haspopup="true">Đã hủy</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="info">Đang tải...</div>
	<div class="row">
		<div class="table-responsive col col-xs-9 col-center">
			<table id="mytable" class="table table-bordred table-striped border-center border-right border-left border-bottom">
				
			</table>
		</div>
	</div>
	<div class="row">
		<div class="button-bar row">
			<div class="button-bar">
				<nav aria-label="Page navigation example">
					<ul id="btn-list" class="pagination">
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
</div>
<script id="orders-list" type="text/x-handlebars-template">
	<thead >
		<th>STT</th>
		<th>ID đơn hàng</th>
		<th>ID khách hàng</th>
		<th>Tên khách hàng</th>
        <th>Tổng tiền</th>
		<th>Ngày đặt hàng</th>
		<th>Trạng thái</th>
		<th>Thay đổi</th>
		<th>Xem</th>
	</thead>
	<tbody  id="users-table">
	\{{#each this}}
		<tr >
			<td class="align-middle">\{{@index}}</td>
            <td class="align-middle">
				<div class="book-info">
					<a href="/orders/order-detail/\{{_id}}" >
						<p>\{{_id}}</p>
					</a>
				</div>
			</td>
            <td class="align-middle">
				<div class="book-info">
					<a href="/users/profile/\{{userID}}" >
						<p>\{{userID}}</p>
					</a>
				</div>
			</td>
			<td class="align-middle">

				<div class="book-info"><p>\{{name}}</p></div>
			</td>
            <td class="align-middle">

				<div class="book-info"><p>\{{totalCost}}</p></div>
			</td>
            <td class="align-middle">
				<div class="book-info"><p>\{{create_date}}</p></div>
			</td>
            <td class="align-middle">
				<div class="book-info" id ="\{{_id}}-status">\{{status}}</div>
			</td>
			<td class="align-middle">
				<button id="\{{_id}}-to-left" onclick= "previousStatus(this.id)" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
					data-target="#edit">
					<i class="fas fa-arrow-left"></i>
				</button>
				<button id="\{{_id}}-to-right" onclick="nextStatus(this.id)" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
					data-target="#edit">
					<i class="fas fa-arrow-right"></i>
				</button>
			</td>
			<td class="align-middle">
				<p data-placement="top" data-toggle="tooltip" title="Xem">
					<a href="/orders/order-detail/\{{_id}}">
						<button onclick="viewOrderDetail(this.id}" class="btn btn-success btn-xs" data-title="See" data-toggle="modal">
							<i class="fas fa-eye"></i>
						</button>
					</a>
				</p>
			</td>
			
		</tr>
	\{{/each}}
	</tbody>
</script>
<script id="paging-list" type="text/x-handlebars-template">
	<li id="prevBtn" class="page-item " >
		<a   class="page-link " onclick="prevBtnClick()" aria-label="Previous">
			<span aria-hidden="true">&laquo;</span>
			<span class="sr-only">Previous</span>
		</a>
	</li>
	\{{#each this}}
		<li id="page-\{{curPage}}" onclick="setPage(this.textContent)" class="page-item"><a class="page-link">\{{curPage}}</a></li>
	\{{/each}}
	<li id="nextBtn" class="page-item">
		<a class="page-link" onclick="nextBtnClick()" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
			<span class="sr-only">Next</span>
		</a>
	</li>
</script>


